/*BODY-----------------------------------------------------------------------------------------*/
body{
    height: 100vh;
    margin: 0;
    font-size: 12px;
    font-family: sans-serif;
}
/*clase para cambiar a modo oscuro con JS*/

.oscuro {
    background-color: black;
    color: white;

}


/*HEADER---------------------------------------------------------------------------------------*/
header{
    width: 100%;
    position: fixed;
    top:0; 
} 

.logo {
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 16px;
    background-color: black;
    color: white;
}
 .logo img{
    width: 200px;
    height: 50px;
 }

.btn-menu {
    display: flex;
    padding: 16px;
}

.btn-menu a img{
    width: 35px;
    height: 45px;
}

nav {
    width: 100%;
    display: flex;
    background-color: grey; 
}

ul.navbar {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: none; /*genera que no se muestre la navbar*/
    flex-direction: column;
}

/*clase agregada con js para que se muestre la navbar cuando hago click en el boton hamburguesa*/
ul.navbar.show {
    display: flex;
}

ul.navbar li {
    list-style: none;
    margin: 0px 0px;
    padding: 15px 20px;
}

ul.navbar li a {
    text-decoration: none; 
    color: white;
}

/*para cambiar de color cuando nos posicionamos sobre el elemento*/
ul.navbar li:hover {
    background-color: rgb(92, 90, 90);
}

/*Clase para boton claro-oscuro*/
.claro-oscuro{
    display: flex;
    justify-content:right;
    background-color: grey;
    padding-right: 20px;
   }
   
   .claro-oscuro img{
       width: 30px;
       height: 30px;
   }

/*MAIN---------------------------------------------------------------------------------------------*/
h1{
    text-align: center;
}

h1,h2{
    text-transform: uppercase;
    color: #762123;
}
p{
    text-align: justify;
}

main,section,.reseña-platos,.seccion-nosotros,.home,.home figure,.item-reseña-platos,.nuestros-locales,footer,.infoFooter,.infoFooter div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    margin-top: 150px;
    padding: 16px;
}

.home{
    width: 75%;
    margin:16px;
    margin-bottom: 60px;  
}

.home figure img,.item-reseña-platos{
    margin: 16px;
}

.item-nosotros{
    padding: 20px;
}

.item-nosotros h2{
    font-weight: lighter;
    text-decoration: underline;
}

.item-nosotros h3,li{
    list-style:circle;
    font-style:italic;
    color:#762123;
    text-align: start; 
}

.galeria-grid,.contacto-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 10px;
}

.galeria-grid{
    margin-top:10px;
}

.item-galeria{
    border: 1px solid #dddddd;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}

.item-galeria img{
    width: 100%;
    height: auto;
    border-radius: 10px;
} 

.form-contacto{
    width: 70%;
    align-items: center;
    padding: 16px;
    margin: 16px;
    border: 1px solid #762123;
}

form{
    display: flex;
    flex-direction: column;
}

#captcha{
    text-align: center;
    text-decoration:line-through;
    font-style: oblique;
    font-size: 20px;
}
#resultado-captcha{
    margin:5px;
    text-align: center;
    font-weight: bold;
    color: #762123;
}
form button{
    width: 30%;
    margin:10px;
}

/*formato de la tabla---------------*/
th,td{
    border: 2px solid #762123;
}
th{
    background-color: #762123;
    color: white;     
}

tr:nth-child(even){
    color: crimson;   
}

td{
    padding: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

/*FOOTER------------------------------------------------------------------------------------------*/

footer{
    width:100%;
    border-top: 5px solid #762123;
    margin-bottom: 50px;
}

.logo-footer{
    display: flex;
    justify-content: center; 
    margin-top: 20px;
} 

.logo-footer img{
    margin-top: 20px;
    width: 250px;
    height: 50px; 
}

.info-footer{
    width: 100%; 
}

.info-footer img{
    width: 30px;
    height: 30px;
    margin-top: 20px;
}

.info-footer h3 + p {
    margin-top: 0;
    margin-bottom: 0;
}


/*------------------------------------------------------------------------------------------------*/

@media (width >= 660px){
    body{
        font-size: 16px;
    }

    /* en desktop ocultamos siempre el boton del menu */
    .btn-menu {
       display: none;
    }

   /* cambiamos la direccion del flex */
    ul.navbar,section,.home figure,.reseña-platos,.infoFooter{
        display: flex;
        flex-direction: row;
    }

    section,.home figure,.reseña-platos {
        width: 100%;
    }

    .home figure{
        justify-content: space-around;
    }

    .reseña-platos{
        align-items: start;
    }

    .item-reseña-platos,.infoFooter div{
        width: 33%;
    }

    .galeria-grid,.contacto-grid{
        display: grid; 
    }
    .galeria-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .contacto-grid{
        grid-template-columns: 3fr 1fr;
        align-items: start;
    }

    .infoFooter{
        justify-content: space-around;
    }
   
}